<!-- Safezones
==========================================-->
<div class="modal fade mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModal">
    <div class="aegis-modal modal-dialog modal-lg" role="document">
        <!-- Modal content-->
        <div class="modal-content mapContent">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Safezone Locations</h4>
            </div>
            <div class="modal-body mapOutput">
            </div>
            <div class="rightPanel">
                <p>Total Distance: <span id="total"></span></p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
