<!-- Weather
==========================================-->
<div class="modal fade weatherModal" tabindex="-1" role="dialog" aria-labelledby="weatherModal">
    <div class="aegis-modal modal-dialog modal-lg" role="document">
        <!-- Modal content-->
        <div class="modal-content mapContent">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Weather Forcast</h4>
            </div>
            <div class="modal-body weatherOutput">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
