<!-- Dashboard
==========================================-->
<div class="dashboard content-dash">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="container">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
            Overview
            <small>Risk Assessment</small>
          </h1>
            </section>
            <!-- Info boxes -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-red"><i class="ion ion-alert-circled"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Risk</span>
                            <span class="info-box-number">90<small>%</small></span>
                            <a href="#">More info</a>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="fa fa-flash"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Weather</span>
                            <span class="info-box-number">Poor</span>
                            <a href="#">More info</a>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->

                <!-- fix for small devices only -->
                <div class="clearfix visible-sm-block"></div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="ion ion-ios-home"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Safehouses</span>
                            <span class="info-box-number">Above Average</span>
                            <a href="#">More info</a>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="ion ion-android-subway"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Travel</span>
                            <span class="info-box-number">Moderate</span>
                            <a href="#">More info</a>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->



            <!-- Main row -->
            <div class="row">
                {{#each data}}
                <div class="col-md-6">
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{this.location}}</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                    </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-3 text-center">
                                    <div class="info-box bg-red">
                                        <div class="info-box-content">
                                            <span class="info-box-text">Risk</span>
                                            <span class="info-box-number">{{this.risk}}<small>%</small></span>
                                            <a href="#">More info</a>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="chart-responsive">
                                        <canvas id="pieChart" height="150"></canvas>
                                    </div>
                                    <!-- ./chart-responsive -->
                                </div>
                                <!-- /.col -->
                                <div class="col-md-4">
                                    <ul class="chart-legend clearfix">
                                        <li><i class="fa fa-circle-o text-red"></i> Homicide</li>
                                        <li><i class="fa fa-circle-o text-yellow"></i> Theft</li>
                                        <li><i class="fa fa-circle-o text-aqua"></i> Domestic</li>
                                        <li><i class="fa fa-circle-o text-orange"></i> Arson</li>
                                        <li><i class="fa fa-circle-o text-gray"></i> Disturbence</li>
                                    </ul>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer no-padding">
                            <a href="#" alt="Safehouses"><i class="fa fa-home fa-3x box-icons"></i></a>
                            <a href="#" alt="Weather"><i class="fa fa-bolt fa-3x box-icons"></i></a>
                        </div>
                        <!-- /.footer -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
                {{/each}}
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>

<!-- Add Location Modal -->
{{> map}}
