<!-- Dashboard
==========================================-->
<div class="dashboard content-dash">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="container">
            {{#if locations}}
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
            Your Risk Assessments
          </h1>
                </section>
            {{/if}}

            <!-- Main row -->
            <div class="row">
                {{#unless locations}}
                    <div class="col-lg-12 text-center no-locations">
                        <h1>You currently have no <strong>locations</strong> to assess.</h1>
                        <h2>Why don't you <strong>add</strong> some?</h2>
                    </div>
                {{/unless}}
                {{#if locations}}
                    {{#each locations}}
                            <div class="col-md-6">
                                {{> location-box}}
                            </div>
                        <!-- /.col -->
                    {{/each}}
                {{/if}}
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>
<div id="modalCollection">
</div>

<!-- Add Location Modal -->
{{> location-modal}}
