<!-- Home Page
==========================================-->
<div id="home" class="home background-wrap text-center">
    <video class="video-bg-elem" preload="auto" autoplay loop>
        <source src="assets/vid/video.mp4" type="video/mp4">
        <source src="assets/vid/video.webm" type="video/webm">
    </video>
    <div class="overlay">
        <div class="content">
            <div class="attention">
            <h1 class="tagline"><span class="color"><strong>Securely </strong> </span>Travel</h1>
            <p class="lead">Visualize and assess your risks before making the trip.</p>
            </div>
            <a href="#about" class="fa fa-angle-down page-scroll"></a>
        </div>
    </div>
</div>

<!-- About Us Page
==========================================-->
<div id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/img/02.png" class="img-responsive">
            </div>
            <div class="col-md-6">
                <div class="about-text">
                    <div class="section-title">
                        <h2>Some words about <strong>Travel Aegis</strong></h2>
                        <hr>
                        <div class="clearfix"></div>
                    </div>
                    <p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <ul class="about-list">
                        <li>
                            <span class="fa fa-dot-circle-o"></span>
                            <strong>Mission</strong> - <em>Lorem ipsum dolor sit amet</em>
                        </li>
                        <li>
                            <span class="fa fa-dot-circle-o"></span>
                            <strong>Use Case</strong> - <em>Lorem ipsum dolor sit amet</em>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Team Page
==========================================-->
<div id="team" class="team text-center">
    <div class="overlay">
        <div class="container">
            <div class="section-title center">
                <h2>Meet <strong>our team</strong></h2>
                <div class="line">
                    <hr>
                </div>
            </div>

            <div class="team-members owl-carousel owl-theme row">
                <div class="item">
                    <div class="thumbnail">
                        <img src="assets/img/team/01.jpg" alt="..." class="img-circle team-img">
                        <div class="caption">
                            <h3>Gary Jackemuk</h3>
                            <ul class="team-social">
                                <li><a href="#"><i class="fa fa-github"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="thumbnail">
                        <img src="assets/img/team/02.jpg" alt="..." class="img-circle team-img">
                        <div class="caption">
                            <h3>Hannah Marlin</h3>
                            <ul class="team-social">
                                <li><a href="#"><i class="fa fa-github"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="thumbnail">
                        <img src="assets/img/team/03.jpg" alt="..." class="img-circle team-img">
                        <div class="caption">
                            <h3>Patrick Thompson</h3>
                            <ul class="team-social">
                                <li><a href="#"><i class="fa fa-github"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="thumbnail">
                        <img src="assets/img/team/04.jpg" alt="..." class="img-circle team-img">
                        <div class="caption">
                            <h3>Joe Ida</h3>
                            <ul class="team-social">
                                <li><a href="#"><i class="fa fa-github"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- Services Section
==========================================-->
<div id="services" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>Take a look at <strong>our services</strong></h2>
            <div class="line">
                <hr>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="space"></div>
        <div class="row">
            <div class="col-md-3 col-sm-6 service">
                <i class="fa fa-warning"></i>
                <h4><strong>Risk Assessment</strong></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>

            <div class="col-md-3 col-sm-6 service">
                <a href="/map"><i class="fa fa-home"></i></a>
                <h4><strong>Safe House Mapper</strong></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>

            <div class="col-md-3 col-sm-6 service">
                <i class="fa fa-bolt"></i>
                <h4><strong>Weather Tracking</strong></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>

            <div class="col-md-3 col-sm-6 service">
                <i class="fa fa-area-chart"></i>
                <h4><strong>Crime Data</strong></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</div>
