<!-- Home Page
==========================================-->
<div id="home" class="home background-wrap text-center">
    <video class="video-bg-elem" preload="auto" autoplay loop>
        <source src="assets/vid/video.mp4" type="video/mp4">
        <source src="assets/vid/video.webm" type="video/webm">
    </video>
    <div class="overlay">
        <div class="content">
            <div class="attention">
                <h1 class="tagline"><span class="color"><strong>Securely </strong> </span>Travel</h1>
                <p class="lead">Visualize and assess your risks before making the trip.</p>
            </div>
            <a href="#about" class="fa fa-angle-down page-scroll"></a>
        </div>
    </div>
</div>

<!-- About Us Page
==========================================-->
<div id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/img/02.png" class="img-responsive">
            </div>
            <div class="col-md-6">
                <div class="about-text">
                    <div class="section-title">
                        <h2>About <strong>Travel Aegis</strong></h2>
                        <hr>
                        <div class="clearfix"></div>
                    </div>
                    <ul class="about-list">
                        <li>
                            <span class="fa fa-dot-circle-o"></span>
                            <strong>Mission</strong> &mdash; <em>Visualize safe travel to minimize risk.</em>
                        </li>
                        {{!--          <li>
                            <span class="fa fa-dot-circle-o"></span>
                            <strong>Use Case</strong> - <em>Lorem ipsum dolor sit amet</em>
                        </li> --}}
                    </ul>
                    <p class="intro">In the age of a growing global economy, world travel has never been more imperative. But with increased travel comes increased risk, threatening the safety of even the most seasoned globetrotter. Travel Aegis aims to aide you with this problem using our services designed specifically with your safety in mind. We've scoured various dependable sources to aggregate the most definitive, verifiable and up-to-date data to support visualizing your risk long before you pack your bag.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Team Page
==========================================-->
<div id="team" class="team text-center">
    <div class="overlay">
        <div class="container">
            <div class="section-title center">
                <h2>Meet <strong>our team</strong></h2>
                <div class="line">
                    <hr>
                </div>
            </div>

            <div class="team-members owl-carousel owl-theme row">
                <div class="item">
                    <div class="thumbnail">
                        <img src="assets/img/team/01.jpg" alt="..." class="img-circle team-img">
                        <div class="caption">
                            <h3>Gary Jackemuk</h3>
                            <ul class="team-social">
                                <li><a href="#"><i class="fa fa-github"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                            {{!--   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p> --}}
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="thumbnail">
                        <img src="assets/img/team/02.jpg" alt="..." class="img-circle team-img">
                        <div class="caption">
                            <h3>Hannah Marlin</h3>
                            <ul class="team-social">
                                <li><a href="#"><i class="fa fa-github"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                            {{!--      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p> --}}
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="thumbnail">
                        <img src="assets/img/team/03.jpg" alt="..." class="img-circle team-img">
                        <div class="caption">
                            <h3>Patrick Thompson</h3>
                            <ul class="team-social">
                                <li><a href="https://github.com/neurohacked" target="_blank"><i class="fa fa-github"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/patrick-thompson" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                            {{!--     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p> --}}
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="thumbnail">
                        <img src="assets/img/team/04.jpg" alt="..." class="img-circle team-img">
                        <div class="caption">
                            <h3>Joe Ida</h3>
                            <ul class="team-social">
                                <li><a href="#"><i class="fa fa-github"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                            {{!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p> --}}
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- Services Section
==========================================-->
<div id="services" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>Take a look at <strong>our services</strong></h2>
            <div class="line">
                <hr>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="space"></div>
        <div class="row">
            <div class="col-md-3 col-sm-6 service">
                <i class="fa fa-warning"></i>
                <h4><strong>Risk Assessment</strong></h4>
                <p>Utilizing complex algorithms, we calculate an assesment for your destinations to provide an accurate snapshot of the risks that could threaten your safety. This assesment takes into account a multitude of data sources including crime, safehouse locations, biological, metrological, climatological, geophysical and hydrological factors.</p>
            </div>
            <div class="col-md-3 col-sm-6 service">
                <i class="fa fa-bar-chart"></i>
                <h4><strong>Crime Data Analysis</strong></h4>
                <p>We've worked closely with authorities across the globe to compile a comprehensive crime index by city. This data takes into account crimes of all types including personal, property, and inchoate and is returned as a data point in the overal calculation for your destinations.</p>
            </div>
            <div class="col-md-3 col-sm-6 service">
                <i class="fa fa-home"></i>
                <h4><strong>Safe Houses &amp; Travel</strong></h4>
                <p>A tailored index of safe locations is generated for each destination in your itinerary. These locations include nearby banks, hospitals, airports and embassies. Additionally, a list of cafes, pharmacies and public transportation optionsis also populated.</p>
            </div>
            <div class="col-md-3 col-sm-6 service">
                <i class="fa fa-bolt"></i>
                <h4><strong>Weather Forecast</strong></h4>
                <p>Using state of the art weather radars, we provide you with up to the moment weather data and any relevant weather alerts per destination. This data is used in calcualtions of your risk assessments. Weather is monitored and updated at the push of a button.</p>
            </div>
        </div>
    </div>
</div>
