/* Map */
.rightPanel, .rightPanelTravel {
  line-height: 30px;
  padding-left: 10px;
  max-height:  600px;
  overflow-y: scroll;
}

.rightPanel select, #right-panel input {
  font-size: 15px;
}

.rightPanelTravel select, #right-panel input {
  font-size: 15px;
}

.rightPanel select {
  width: 100%;
}

.rightPanelTravel select {
  width: 100%;
}

.rightPanel i {
  font-size: 12px;
}

.rightPanelTravel i {
  font-size: 12px;
}
.mapOutput,.travelOutput {
  height: 600px;
  float: left;
  width: 525px;
  overflow-y: auto;
}
.rightPanel,.rightPanelTravel {
  float: right;
  width: 250px;
  height: 600px;
  padding-right: 20px;
}
.mapModal .modal-dialog {
    width: 800px;
}
.mapContent {
  width: 800px;
}

.travelBooking {
  display: inline-block;
}

.travelBooking a {
  width: auto;
}
