<div class="media">
    <div class="media-left media-middle">
        <img class="ramen-bowl img-responsive" src="{{this.image}}" alt="Location">
    </div>
    <div class="media-body">
        <h4 class="media-heading text-center">{{this.location}}</h4><h6 class="text-center">Update at {{this.updated_at}}</h6>
    </div>
</div>
