<div class="well info-well">
    <div class="media">
        <div class="media-left media-middle">
            <a href="#">
                <img class="media-object" src="http://placehold.it/75x95" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">News Header</h4> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">Read more.</a>
        </div>
    </div>
</div>
