<div class="well info-well">
    <div class="media">
        <div class="media-body">
            <h5 class="media-heading">News Header</h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore...<a href="#"> Read more.</a>
        </div>
        <div class="media-right media-middle">
            <a href="#">
                <img class="media-object" src="http://placehold.it/85x85" alt="...">
            </a>
        </div>

    </div>
</div>
